.history-popover {
  padding: 0 !important;

  .history-container {
    padding: 0;
    margin: 0;
    list-style-type: none;
    min-width: 10rem;
    width: 200px;

    color: var(--c-text);
    .history {
      padding: 0.4rem 0.75rem;
      cursor: pointer;
      display: flex;
      transition: background-color var(--c-transition);

      > .type {
        font-weight: bold;
        min-width: 32px;
        display: inline-block;
        margin-right: 8px;
        position: relative;

        &::after {
          content: ':';
          position: absolute;
          right: 0;
        }
      }

      > .name {
        flex-grow: 1;
        text-align: start;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      &:hover {
        background-color: var(--c-bg-hover);
      }

      &.active {
        color: var(--c-brand);
      }
    }

    > .empty {
      width: 200px;
      padding: 2rem 2rem;
      color: var(--c-text-mute);
      cursor: default;
    }
  }
}
