:root {
  --c-white: #ffffff;
  --c-white-soft: #f9f9f9;
  --c-white-mute: #f1f1f1;
  --c-black: #1a1a1a;
  --c-black-pure: #000000;
  --c-black-soft: #242424;
  --c-black-mute: #2f2f2f;
  --c-hover-light: rgb(235, 235, 239);
  --c-hover-dark: rgba(255, 255, 255, 0.09);
  --c-indigo: #213547;
  --c-indigo-soft: #476582;
  --c-indigo-light: #aac8e4;
  --c-gray: #8e8e8e;
  --c-gray-light-1: #aeaeae;
  --c-gray-light-2: #c7c7c7;
  --c-gray-light-3: #d1d1d1;
  --c-gray-light-4: #e5e5e5;
  --c-gray-light-5: #f2f2f2;
  --c-gray-dark-1: #636363;
  --c-gray-dark-2: #484848;
  --c-gray-dark-3: #3a3a3a;
  --c-gray-dark-4: #282828;
  --c-gray-dark-5: #202020;
  --c-bg-overlay-light-1: #ffffff;
  --c-bg-overlay-dark-1: #1d1e1f;
  --c-border-light-1: rgba(60, 60, 67, 0.29);
  --c-border-dark-1: rgba(82, 82, 89, 0.68);
  --c-line-light-1: rgba(60, 60, 60, 0.1);
  --c-line-light-2: rgba(60, 60, 60, 0.07);
  --c-line-dark-1: rgba(84, 84, 84, 0.48);
  --c-line-dark-2: rgba(84, 84, 84, 0.35);
  --c-divider-light-1: rgba(60, 60, 60, 0.29);
  --c-divider-light-2: rgba(60, 60, 60, 0.12);
  --c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --c-divider-dark-2: rgba(84, 84, 84, 0.48);
  --c-text: #f5f7fa;
  --c-text-light: #f9f9f9;
  --c-text-lighter: #ffffff;
  --c-text-light-1: var(--c-indigo);
  --c-text-light-2: rgba(60, 60, 60, 0.7);
  --c-text-light-3: rgba(60, 60, 60, 0.33);
  --c-text-light-4: rgba(60, 60, 60, 0.18);
  --c-text-light-code: var(--c-indigo-soft);
  --c-text-dark-1: rgba(255, 255, 255, 0.87);
  --c-text-dark-2: rgba(235, 235, 235, 0.6);
  --c-text-dark-3: rgba(235, 235, 235, 0.38);
  --c-text-dark-4: rgba(235, 235, 235, 0.18);
  --c-text-dark-code: var(--c-indigo-light);
  --c-green: #42b883;
  --c-green-light: #42d392;
  --c-green-lighter: #35eb9a;
  --c-green-dark: #33a06f;
  --c-green-darker: #155f3e;
  --c-blue: #3b8eed;
  --c-blue-light: #549ced;
  --c-blue-lighter: #50a2ff;
  --c-blue-dark: #3468a3;
  --c-blue-darker: #255489;
  --c-yellow: #ffc517;
  --c-yellow-light: #ffe417;
  --c-yellow-lighter: #ffff17;
  --c-yellow-dark: #e0ad15;
  --c-yellow-darker: #bc9112;
  --c-red: #ed3c50;
  --c-red-light: #f43771;
  --c-red-lighter: #fd1d7c;
  --c-red-dark: #cd2d3f;
  --c-red-darker: #ab2131;
  --c-purple: #de41e0;
  --c-purple-light: #e936eb;
  --c-purple-lighter: #f616f8;
  --c-purple-dark: #823c83;
  --c-purple-darker: #602960;
  --c-transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s;
}

:root {
  --c-success: #67c23a;
  --c-success-light-3: #95d475;
  --c-success-light-5: #b3e19d;
  --c-success-light-7: #d1edc4;
  --c-success-light-8: #e1f3d8;
  --c-success-light-9: #f0f9eb;
  --c-success-dark-2: #529b2e;
  --c-warning: #e6a23c;
  --c-warning-light-3: #eebe77;
  --c-warning-light-5: #f3d19e;
  --c-warning-light-7: #f8e3c5;
  --c-warning-light-8: #faecd8;
  --c-warning-light-9: #fdf6ec;
  --c-warning-dark-2: #b88230;
  --c-danger: #f56c6c;
  --c-danger-light-3: #f89898;
  --c-danger-light-5: #fab6b6;
  --c-danger-light-7: #fcd3d3;
  --c-danger-light-8: #fde2e2;
  --c-danger-light-9: #fef0f0;
  --c-danger-dark-2: #c45656;
  --c-error: #f56c6c;
  --c-error-light-3: #f89898;
  --c-error-light-5: #fab6b6;
  --c-error-light-7: #fcd3d3;
  --c-error-light-8: #fde2e2;
  --c-error-light-9: #fef0f0;
  --c-error-dark-2: #c45656;
  --c-info: #909399;
  --c-info-light-3: #b1b3b8;
  --c-info-light-5: #c8c9cc;
  --c-info-light-7: #dedfe0;
  --c-info-light-8: #e9e9eb;
  --c-info-light-9: #f4f4f5;
  --c-info-dark-2: #73767a;
}

:root {
  --c-bg: var(--c-white);
  --c-bg-soft: var(--c-white-soft);
  --c-bg-dark: var(--c-black);
  --c-bg-hover: var(--c-hover-light);
  --c-bg-mute: var(--c-white-mute);
  --c-bg-overlay: var(--c-bg-overlay-light-1);
  --c-bg-ground: var(--c-gray);
  --c-bg-ground-soft: var(--c-gray-light-1);
  --c-bg-ground-mute: var(--c-gray-light-2);
  --c-border: var(--c-border-light-1);
  --c-line: var(--c-line-light-2);
  --c-line-bold: var(--c-line-light-1);
  --c-divider: var(--c-divider-light-1);
  --c-divider-light: var(--c-divider-light-2);
  --c-divider-inverse: var(--c-divider-dark-1);
  --c-divider-inverse-light: var(--c-divider-dark-2);
  --c-text: var(--c-text);
  --c-text-light: var(--c-text-light);
  --c-text-lighter: var(--c-text-lighter);
  --c-text-1: var(--c-text-light-1);
  --c-text-2: var(--c-text-light-2);
  --c-text-3: var(--c-text-light-3);
  --c-text-4: var(--c-text-light-4);
  --c-text-code: var(--c-text-light-code);
  --c-text-inverse-1: var(--c-text-dark-1);
  --c-text-inverse-2: var(--c-text-dark-2);
  --c-text-inverse-3: var(--c-text-dark-3);
  --c-text-inverse-4: var(--c-text-dark-4);
  --c-brand: var(--c-green);
  --c-brand-light: var(--c-green-light);
  --c-brand-dark: var(--c-green-dark);
  --c-brand-highlight: var(--c-brand-dark);
}

html.dark:root {
  --c-bg: var(--c-black);
  --c-bg-soft: var(--c-black-soft);
  --c-bg-mute: var(--c-black-mute);
  --c-bg-overlay: var(--c-bg-overlay-dark-1);
  --c-bg-hover: var(--c-hover-dark);
  --c-border: var(--c-border-dark-1);
  --c-line: var(--c-line-dark-2);
  --c-line-bold: var(--c-line-dark-1);
  --c-divider: var(--c-divider-dark-1);
  --c-divider-light: var(--c-divider-dark-2);
  --c-divider-inverse: var(--c-divider-light-1);
  --c-divider-inverse-light: var(--c-divider-light-2);
  --c-text: var(--c-text);
  --c-text-light: var(--c-text-light);
  --c-text-lighter: var(--c-text-lighter);
  --c-text: var(--c-text);
  --c-text-1: var(--c-text-dark-1);
  --c-text-2: var(--c-text-dark-2);
  --c-text-3: var(--c-text-dark-3);
  --c-text-4: var(--c-text-dark-4);
  --c-text-code: var(--c-text-dark-code);
  --c-text-inverse-1: var(--c-text-light-1);
  --c-text-inverse-2: var(--c-text-light-2);
  --c-text-inverse-3: var(--c-text-light-3);
  --c-text-inverse-4: var(--c-text-light-4);
  --c-brand-highlight: var(--c-brand-light);
}
html.dark:root {
  --c-success: #67c23a;
  --c-success-light-3: #4e8e2f;
  --c-success-light-5: #3e6b27;
  --c-success-light-7: #2d481f;
  --c-success-light-8: #25371c;
  --c-success-light-9: #1c2518;
  --c-success-dark-2: #85ce61;
  --c-warning: #e6a23c;
  --c-warning-light-3: #a77730;
  --c-warning-light-5: #7d5b28;
  --c-warning-light-7: #533f20;
  --c-warning-light-8: #3e301c;
  --c-warning-light-9: #292218;
  --c-warning-dark-2: #ebb563;
  --c-danger: #f56c6c;
  --c-danger-light-3: #b25252;
  --c-danger-light-5: #854040;
  --c-danger-light-7: #582e2e;
  --c-danger-light-8: #412626;
  --c-danger-light-9: #2b1d1d;
  --c-danger-dark-2: #f78989;
  --c-error: #f56c6c;
  --c-error-light-3: #b25252;
  --c-error-light-5: #854040;
  --c-error-light-7: #582e2e;
  --c-error-light-8: #412626;
  --c-error-light-9: #2b1d1d;
  --c-error-dark-2: #f78989;
  --c-info: #909399;
  --c-info-light-3: #6b6d71;
  --c-info-light-5: #525457;
  --c-info-light-7: #393a3c;
  --c-info-light-8: #2d2d2f;
  --c-info-light-9: #202121;
  --c-info-dark-2: #a6a9ad;
}
