.controller-container {
  margin-bottom: 4px;

  .controller-item {
    display: flex;
    vertical-align: baseline;
    line-height: 26px;
    color: white;
    margin-bottom: 1px;
    
    &-label {
      width: 80px;
      text-align: start;
      text-indent: .75rem;
    }

    &-plugin {
      width: 150px;
      text-align: start;
    }

    input {
      height: 26px;
      border-radius: 0;
    }

    .el-input-number {
      width: 100%;
      line-height: inherit;
    }

    .el-input {
      line-height: inherit;
    }

    .el-button {
      line-height: inherit;
      height: inherit;
      padding: 0;
      width: 100%;
      min-height: unset;
      border-radius: 0;
      background: inherit;
      background-color: var(--el-input-bg-color,var(--el-color-white));
    }

    .dialog-container {
      line-height: inherit;
    }
  }
}