.controller-container {
  margin-bottom: 4px;

  .controller-item {
    display: flex;
    vertical-align: baseline;
    line-height: 26px;
    margin-bottom: 1px;
    
    &-label {
      width: 80px;
      text-align: start;
      text-indent: .75rem;
      color: white;
    }

    &-plugin {
      width: 150px;
      text-align: start;
    }

    .sa-plugin {
      & > .el-input, & > .el-color-picker > .el-color-picker__trigger {
        height: 30px;
      }

      &.el-input-number {
        width: 100%;
        line-height: inherit;
      }

      & > .el-input {
        line-height: inherit;
      }

      & > .el-button {
        height: inherit;
        padding: 0;
        width: 100%;
        min-height: unset;
        border-radius: 0;
        background: inherit;
        background-color: var(--el-input-bg-color,var(--el-color-white));
      }

      &.dialog-container {
        line-height: inherit;
        display: flex;

        &:first-child {
          flex-grow: 1;
        }

        & > .el-button {
          width: 120px;
        }
      }

      &.el-input > .el-input__wrapper,
      & > .el-input > .el-input__wrapper,
      & > .el-color-picker > .el-color-picker__trigger,
      & > .el-input-number > .el-input__wrapper {
        border-radius: 0;
      }
    }
  }

  .controller-item-plugin {
    flex-grow: 1;
  }
}