.sa-form-header {
  
  .header-tool {
    background-color: var(--c-bg);
    cursor: pointer;
    margin-right: 4px;
    overflow: hidden;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--c-divider);
    transition: 
      border-color var(--c-transition), 
      background-color var(--c-transition);

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: var(--c-bg-soft);
      border-color: var(--c-brand);
    }

    &:active {
      transform: translateY(.5px);
    }
  }
}