.sa-bg {
  background-color: var(--c-bg-soft);
  overflow: auto;
}

.workspace-bg {
  background-color: var(--c-bg);
  box-sizing: border-box;
  padding: 4px;

  .workspace {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
}

.dark {
  // TODO:
}
