.sa-bg {
  background-color: var(--c-bg-soft);
  overflow: auto;
}

.workspace-bg {
  box-sizing: border-box;
  padding: 12px;
  
  .workspace {
    margin: 0 auto;
    background-color: var(--c-bg);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
}

.sa-form-footer {
  min-height: 40px;
}

