.sa-form-side {
  
  .side-tool {
    background: #eee;
    cursor: pointer;
    margin-top: 4px;
    overflow: hidden;
    user-select: none;

    &:first-child {
      margin-top: 0;
    }

    &:hover {
      background: #fff;
    }
  }
}