.sa-radio {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  .radio-item {
    padding-left: 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;

    .radio-item-label {
      padding-left: 10px;
    }

    &::before {
      content: '';
      border: 1px solid var(--c-border);
      background-color: var(--c-bg);
      border-radius: 100%;
      width: 14px;
      height: 14px;
      display: inline-block;
      box-sizing: border-box;
      flex-shrink: 0;
    }
  }
}
