.sa-form-header {
  
  .header-tool {
    background: #eee;
    cursor: pointer;
    margin-right: 4px;
    overflow: hidden;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: #fff;
    }

    &:active {
      transform: translateY(.5px);
    }
  }
}