.shortcuts {
  display: flex;
  align-items: center;
  gap: 4px;

  .join {
    opacity: 0.4;
    font-weight: 500;
  }

  &.is-fired .pressed-key {
    color: var(--c-brand);
    font-weight: bold;
  }
}
