.sa-time-picker {
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  padding: 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
