@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-white: #ffffff;
  --c-white-soft: #f9f9f9;
  --c-white-mute: #f1f1f1;
  --c-black: #1a1a1a;
  --c-black-pure: #000000;
  --c-black-soft: #242424;
  --c-black-mute: #2f2f2f;
  --c-indigo: #213547;
  --c-indigo-soft: #476582;
  --c-indigo-light: #aac8e4;
  --c-gray: #8e8e8e;
  --c-gray-light-1: #aeaeae;
  --c-gray-light-2: #c7c7c7;
  --c-gray-light-3: #d1d1d1;
  --c-gray-light-4: #e5e5e5;
  --c-gray-light-5: #f2f2f2;
  --c-gray-dark-1: #636363;
  --c-gray-dark-2: #484848;
  --c-gray-dark-3: #3a3a3a;
  --c-gray-dark-4: #282828;
  --c-gray-dark-5: #202020;
  --c-divider-light-1: rgba(60, 60, 60, .29);
  --c-divider-light-2: rgba(60, 60, 60, .12);
  --c-divider-dark-1: rgba(84, 84, 84, .65);
  --c-divider-dark-2: rgba(84, 84, 84, .48);
  --c-text: #f5f7fa;
  --c-text-light: #f9f9f9;
  --c-text-lighter: #ffffff;
  --c-text-light-1: var(--c-indigo);
  --c-text-light-2: rgba(60, 60, 60, .7);
  --c-text-light-3: rgba(60, 60, 60, .33);
  --c-text-light-4: rgba(60, 60, 60, .18);
  --c-text-light-code: var(--c-indigo-soft);
  --c-text-dark-1: rgba(255, 255, 255, .87);
  --c-text-dark-2: rgba(235, 235, 235, .6);
  --c-text-dark-3: rgba(235, 235, 235, .38);
  --c-text-dark-4: rgba(235, 235, 235, .18);
  --c-text-dark-code: var(--c-indigo-light);
  --c-green: #42b883;
  --c-green-light: #42d392;
  --c-green-lighter: #35eb9a;
  --c-green-dark: #33a06f;
  --c-green-darker: #155f3e;
  --c-blue: #3b8eed;
  --c-blue-light: #549ced;
  --c-blue-lighter: #50a2ff;
  --c-blue-dark: #3468a3;
  --c-blue-darker: #255489;
  --c-yellow: #ffc517;
  --c-yellow-light: #ffe417;
  --c-yellow-lighter: #ffff17;
  --c-yellow-dark: #e0ad15;
  --c-yellow-darker: #bc9112;
  --c-red: #ed3c50;
  --c-red-light: #f43771;
  --c-red-lighter: #fd1d7c;
  --c-red-dark: #cd2d3f;
  --c-red-darker: #ab2131;
  --c-purple: #de41e0;
  --c-purple-light: #e936eb;
  --c-purple-lighter: #f616f8;
  --c-purple-dark: #823c83;
  --c-purple-darker: #602960;
  --c-transition: cubic-bezier(0.645, 0.045, 0.355, 1) .25s;
}

:root {
  --c-bg: var(--c-white);
  --c-bg-soft: var(--c-white-soft);
  --c-bg-mute: var(--c-white-mute);
  --c-bg-ground: var(--c-gray);
  --c-bg-ground-soft: var(--c-gray-light-1);
  --c-bg-ground-mute: var(--c-gray-light-2);
  --c-divider: var(--c-divider-light-1);
  --c-divider-light: var(--c-divider-light-2);
  --c-divider-inverse: var(--c-divider-dark-1);
  --c-divider-inverse-light: var(--c-divider-dark-2);
  --c-text: var(--c-text);
  --c-text-light: var(--c-text-light);
  --c-text-lighter: var(--c-text-lighter);
  --c-text-1: var(--c-text-light-1);
  --c-text-2: var(--c-text-light-2);
  --c-text-3: var(--c-text-light-3);
  --c-text-4: var(--c-text-light-4);
  --c-text-code: var(--c-text-light-code);
  --c-text-inverse-1: var(--c-text-dark-1);
  --c-text-inverse-2: var(--c-text-dark-2);
  --c-text-inverse-3: var(--c-text-dark-3);
  --c-text-inverse-4: var(--c-text-dark-4);
  --c-brand: var(--c-green);
  --c-brand-light: var(--c-green-light);
  --c-brand-dark: var(--c-green-dark);
  --c-brand-highlight: var(--c-brand-dark);
}

.dark {
  --c-bg: var(--c-black);
  --c-bg-soft: var(--c-black-soft);
  --c-bg-mute: var(--c-black-mute);
  --c-divider: var(--c-divider-dark-1);
  --c-divider-light: var(--c-divider-dark-2);
  --c-divider-inverse: var(--c-divider-light-1);
  --c-divider-inverse-light: var(--c-divider-light-2);
  --c-text: var(--c-text)
  --c-text-light: var(--c-text-light)
  --c-text-lighter: var(--c-text-lighter)
  --c-text: var(--c-text)
  --c-text-1: var(--c-text-dark-1);
  --c-text-2: var(--c-text-dark-2);
  --c-text-3: var(--c-text-dark-3);
  --c-text-4: var(--c-text-dark-4);
  --c-text-code: var(--c-text-dark-code);
  --c-text-inverse-1: var(--c-text-light-1);
  --c-text-inverse-2: var(--c-text-light-2);
  --c-text-inverse-3: var(--c-text-light-3);
  --c-text-inverse-4: var(--c-text-light-4);
  --c-brand-highlight: var(--c-brand-light);
}