.sa-form-stencil {
  width: 220px;
}

.drag-ghost {
  right: 100%;
}

.stencil-search {
  text-align: start;
}
.stencil-group {
  border-bottom: 1px solid var(--c-divider);
  padding: 10px 0;

  .stencil-group-header {
    display: flex;
    align-items: center;
    gap: 4px;
    text-align: left;
    font-weight: 700;
    color: var(--c-text-1);
    padding: 4px 0 4px 4px;
    height: 20px;
    line-height: 20px;
    box-sizing: border-box;
    cursor: pointer;

    .caret {
      transition: all var(--c-transition);
      padding: 4px;
      border-radius: 100%;
    }

    &:hover .caret {
      background-color: var(--c-bg-hover);
      color: var(--c-brand);
    }
  }

  .stencil-group-content {
    display: flex;
    justify-content: flex-start;
    padding: 10px 5px 0 12px;
    flex-wrap: wrap;
    box-sizing: border-box;

    .stencil-item {
      display: inline-flex;
      width: 20%;
      color: var(--c-text-1);
      box-sizing: border-box;

      i {
        cursor: move;
        font-size: 24px;
        line-height: 24px;
        padding: 0.25rem;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: border-color var(--c-transition),
          background-color var(--c-transition);

        &:hover {
          border: 1px solid var(--c-divider);
          background-size: 26px 26px;
          background-color: var(--c-bg-soft);
          border-color: var(--c-brand);
        }
      }
    }
  }

  &.is-collapsed {
    .caret {
      transform: rotate(-90deg);
    }
  }
}
